In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [11]:
data = pd.read_csv('lab.cleaning.csv')
display(data.shape)
data.head

(9134, 24)

<bound method NDFrame.head of      Customer       State  Customer Lifetime Value Response  Coverage  \
0     BU79786  Washington              2763.519279       No     Basic
1     QZ44356     Arizona              6979.535903       No  Extended
2     AI49188      Nevada             12887.431650       No   Premium
3     WW63253  California              7645.861827       No     Basic
4     HB64268  Washington              2813.692575       No     Basic
...       ...         ...                      ...      ...       ...
9129  LA72316  California             23405.987980       No     Basic
9130  PK87824  California              3096.511217      Yes  Extended
9131  TD14365  California              8163.890428       No  Extended
9132  UP19263  California              7524.442436       No  Extended
9133  Y167826  California              2611.836866       No  Extended

     Education Effective To Date EmploymentStatus Gender  Income  ...  \
0     Bachelor           2/24/11         Employed      F   56274  ...
1     Bachelor           1/31/11       Unemployed      F       0  ...
2     Bachelor           2/19/11         Employed      F   48767  ...
3     Bachelor           1/20/11       Unemployed      M       0  ...
4     Bachelor            2/3/11         Employed      M   43836  ...
...        ...               ...              ...    ...     ...  ...
9129  Bachelor           2/10/11         Employed      M   71941  ...
9130   College           2/12/11         Employed      F   21604  ...
9131  Bachelor            2/6/11       Unemployed      M       0  ...
9132   College            2/3/11         Employed      M   21941  ...
9133   College           2/14/11       Unemployed      M       0  ...

     Months Since Policy Inception Number of Open Complaints  \
0                                5                         0
1                               42                         0
2                               38                         0
3                               65                         0
4                               44                         0
...                            ...                       ...
9129                            89                         0
9130                            28                         0
9131                            37                         3
9132                             3                         0
9133                            90                         0

      Number of Policies     Policy Type        Policy  Renew Offer Type  \
0                      1  Corporate Auto  Corporate L3            Offer1
1                      8   Personal Auto   Personal L3            Offer3
2                      2   Personal Auto   Personal L3            Offer1
3                      7  Corporate Auto  Corporate L2            Offer1
4                      1   Personal Auto   Personal L1            Offer1
...                  ...             ...           ...               ...
9129                   2   Personal Auto   Personal L1            Offer2
9130                   1  Corporate Auto  Corporate L3            Offer1
9131                   2  Corporate Auto  Corporate L2            Offer1
9132                   3   Personal Auto   Personal L2            Offer3
9133                   1  Corporate Auto  Corporate L3            Offer4

      Sales Channel Total Claim Amount  Vehicle Class Vehicle Size
0             Agent         384.811147   Two-Door Car      Medsize
1             Agent        1131.464935  Four-Door Car      Medsize
2             Agent         566.472247   Two-Door Car      Medsize
3       Call Center         529.881344            SUV      Medsize
4             Agent         138.130879  Four-Door Car      Medsize
...             ...                ...            ...          ...
9129            Web         198.234764  Four-Door Car      Medsize
9130         Branch         379.200000  Four-Door Car      Medsize
9131         Branch         790.784983  Four-Door Car      Medsize
9132         Branch         691.200000  Four-Door Car        Large
9133    Call Center         369.600000   Two-Door Car      Medsize

[9134 rows x 24 columns]>

In [12]:
data.info

<bound method DataFrame.info of      Customer       State  Customer Lifetime Value Response  Coverage  \
0     BU79786  Washington              2763.519279       No     Basic
1     QZ44356     Arizona              6979.535903       No  Extended
2     AI49188      Nevada             12887.431650       No   Premium
3     WW63253  California              7645.861827       No     Basic
4     HB64268  Washington              2813.692575       No     Basic
...       ...         ...                      ...      ...       ...
9129  LA72316  California             23405.987980       No     Basic
9130  PK87824  California              3096.511217      Yes  Extended
9131  TD14365  California              8163.890428       No  Extended
9132  UP19263  California              7524.442436       No  Extended
9133  Y167826  California              2611.836866       No  Extended

     Education Effective To Date EmploymentStatus Gender  Income  ...  \
0     Bachelor           2/24/11         Employed      F   56274  ...
1     Bachelor           1/31/11       Unemployed      F       0  ...
2     Bachelor           2/19/11         Employed      F   48767  ...
3     Bachelor           1/20/11       Unemployed      M       0  ...
4     Bachelor            2/3/11         Employed      M   43836  ...
...        ...               ...              ...    ...     ...  ...
9129  Bachelor           2/10/11         Employed      M   71941  ...
9130   College           2/12/11         Employed      F   21604  ...
9131  Bachelor            2/6/11       Unemployed      M       0  ...
9132   College            2/3/11         Employed      M   21941  ...
9133   College           2/14/11       Unemployed      M       0  ...

     Months Since Policy Inception Number of Open Complaints  \
0                                5                         0
1                               42                         0
2                               38                         0
3                               65                         0
4                               44                         0
...                            ...                       ...
9129                            89                         0
9130                            28                         0
9131                            37                         3
9132                             3                         0
9133                            90                         0

      Number of Policies     Policy Type        Policy  Renew Offer Type  \
0                      1  Corporate Auto  Corporate L3            Offer1
1                      8   Personal Auto   Personal L3            Offer3
2                      2   Personal Auto   Personal L3            Offer1
3                      7  Corporate Auto  Corporate L2            Offer1
4                      1   Personal Auto   Personal L1            Offer1
...                  ...             ...           ...               ...
9129                   2   Personal Auto   Personal L1            Offer2
9130                   1  Corporate Auto  Corporate L3            Offer1
9131                   2  Corporate Auto  Corporate L2            Offer1
9132                   3   Personal Auto   Personal L2            Offer3
9133                   1  Corporate Auto  Corporate L3            Offer4

      Sales Channel Total Claim Amount  Vehicle Class Vehicle Size
0             Agent         384.811147   Two-Door Car      Medsize
1             Agent        1131.464935  Four-Door Car      Medsize
2             Agent         566.472247   Two-Door Car      Medsize
3       Call Center         529.881344            SUV      Medsize
4             Agent         138.130879  Four-Door Car      Medsize
...             ...                ...            ...          ...
9129            Web         198.234764  Four-Door Car      Medsize
9130         Branch         379.200000  Four-Door Car      Medsize
9131         Branch         790.784983  Four-Door Car      Medsize
9132         Branch         691.200000  Four-Door Car        Large
9133    Call Center         369.600000   Two-Door Car      Medsize

[9134 rows x 24 columns]>

In [13]:
data.isnull().sum()

Customer                         0
State                            0
Customer Lifetime Value          0
Response                         0
Coverage                         0
Education                        0
Effective To Date                0
EmploymentStatus                 0
Gender                           0
Income                           0
Location Code                    0
Marital Status                   0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number of Open Complaints        0
Number of Policies               0
Policy Type                      0
Policy                           0
Renew Offer Type                 0
Sales Channel                    0
Total Claim Amount               0
Vehicle Class                    0
Vehicle Size                     0
dtype: int64

In [14]:
data.isna().T

,0,1,2,3,4,5,6,7,8,9,...,9124,9125,9126,9127,9128,9129,9130,9131,9132,9133
Customer,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
State,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Customer Lifetime Value,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Response,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Coverage,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Education,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Effective To Date,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
EmploymentStatus,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Gender,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Income,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Location Code,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Marital Status,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Monthly Premium Auto,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Months Since Last Claim,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Months Since Policy Inception,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Number of Open Complaints,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Number of Policies,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Policy Type,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Policy,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Renew Offer Type,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Sales Channel,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Total Claim Amount,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Vehicle Class,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Vehicle Size,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
#Rename & Sneak Case
cols = []
for i in range(len(data.columns)):
    cols.append(data.columns[i].lower().replace(' ', '_'))
data.columns = cols
cols

['customer',
 'state',
 'customer_lifetime_value',
 'response',
 'coverage',
 'education',
 'effective_to_date',
 'employmentstatus',
 'gender',
 'income',
 'location_code',
 'marital_status',
 'monthly_premium_auto',
 'months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies',
 'policy_type',
 'policy',
 'renew_offer_type',
 'sales_channel',
 'total_claim_amount',
 'vehicle_class',
 'vehicle_size']

In [16]:
data['effective_to_date'] = pd.to_datetime(data['effective_to_date'])
data['effective_to_date'] = pd.to_datetime(data['effective_to_date'], format='%Y-%m-%d')
data['effective_to_date']

/var/folders/kf/4vf9b0_j063c6zf0vs_tltrc0000gn/T/ipykernel_51002/1064247188.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['effective_to_date'] = pd.to_datetime(data['effective_to_date'])

0      2011-02-24
1      2011-01-31
2      2011-02-19
3      2011-01-20
4      2011-02-03
          ...
9129   2011-02-10
9130   2011-02-12
9131   2011-02-06
9132   2011-02-03
9133   2011-02-14
Name: effective_to_date, Length: 9134, dtype: datetime64[ns]

In [17]:
categorical_df = data.select_dtypes(object)
categorical_df.head()

,customer,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

In [18]:
categorical_df.isnull().sum()/len(categorical_df)

customer            0.0
state               0.0
response            0.0
coverage            0.0
education           0.0
employmentstatus    0.0
gender              0.0
location_code       0.0
marital_status      0.0
policy_type         0.0
policy              0.0
renew_offer_type    0.0
sales_channel       0.0
vehicle_class       0.0
vehicle_size        0.0
dtype: float64

In [23]:
# Checking the unique values of columns.

In [21]:
categorical_df['state'].value_counts()

state
California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: count, dtype: int64

In [24]:
categorical_df['response'].value_counts()

response
No     7826
Yes    1308
Name: count, dtype: int64

In [26]:
categorical_df['coverage'].value_counts()

coverage
Basic       5568
Extended    2742
Premium      824
Name: count, dtype: int64

In [27]:
categorical_df['education'].value_counts()

education
Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: count, dtype: int64

In [48]:
# Education
categorical_df['education'] = categorical_df['education'].fillna('Above High School')
categorical_df['education'] = np.where(categorical_df['education'].isin(['Bachelor', 'College', 'Master', 'Doctor']) ,'Above High School', categorical_df['education'])
categorical_df['education'].value_counts()

education
Above High School       6512
High School or Below    2622
Name: count, dtype: int64

In [28]:
categorical_df['employmentstatus'].value_counts()

employmentstatus
Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: count, dtype: int64

In [30]:
categorical_df['gender'].value_counts()

gender
F    4658
M    4476
Name: count, dtype: int64

In [31]:
categorical_df['location_code'].value_counts()
# we can allocate Urban to Suburban

location_code
Suburban    5779
Rural       1773
Urban       1582
Name: count, dtype: int64

In [43]:
categorical_df['location_code'] = categorical_df['location_code'].fillna('Suburban')
categorical_df['location_code'] = np.where(categorical_df['location_code'].isin(['Urban']) ,'Suburban', categorical_df['location_code'])
categorical_df['location_code'].value_counts()

location_code
Suburban    7361
Rural       1773
Name: count, dtype: int64

In [33]:
categorical_df['sales_channel'].value_counts()

sales_channel
Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: count, dtype: int64

In [41]:
categorical_df['vehicle_class'].value_counts()

vehicle_class
Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: count, dtype: int64

In [53]:
# luxury or Sport category
categorical_df['vehicle_class'] = categorical_df['vehicle_class'].fillna('Luxury or Sport')
categorical_df['vehicle_class'] = np.where(categorical_df['vehicle_class'].isin(['Luxury Car', 'Luxury SUV', 'Sports Car', 'SUV']) ,'Luxury or Sport', categorical_df['vehicle_class'])
categorical_df['vehicle_class'].value_counts()

vehicle_class
Four-Door Car      4621
Luxury or Sport    2627
Two-Door Car       1886
Name: count, dtype: int64

In [54]:
categorical_df['marital_status'].value_counts()

marital_status
Married     5298
Single      2467
Divorced    1369
Name: count, dtype: int64

In [58]:
categorical_df['policy'].value_counts()

policy
Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: count, dtype: int64

In [64]:
categorical_df['policy'] = categorical_df['policy'].fillna('Personal')
categorical_df['policy'] = np.where(categorical_df['policy'].isin(['Personal L3', 'Personal L2', 'Personal L1']) ,'Personal', categorical_df['policy'])

In [67]:
categorical_df['policy'] = categorical_df['policy'].fillna('Corporate')
categorical_df['policy'] = np.where(categorical_df['policy'].isin(['Corporate L3', 'Corporate L2', 'Corporate L1']) ,'Corporate', categorical_df['policy'])

In [72]:
categorical_df['policy'] = categorical_df['policy'].fillna('Special')
categorical_df['policy'] = np.where(categorical_df['policy'].isin(['Special L1', 'Special L2', 'Special L3']) ,'Special', categorical_df['policy'])
categorical_df['policy'].value_counts()

policy
Personal     6788
Corporate    1968
Special       378
Name: count, dtype: int64

In [73]:
categorical_df['policy_type'].value_counts()

policy_type
Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: count, dtype: int64

In [ ]:
# We can drop one of the columns: policy_type or policy columns. They provide same category feature in terms of data process.

In [51]:
categorical_df.dtypes

customer            object
state               object
response            object
coverage            object
education           object
employmentstatus    object
gender              object
location_code       object
marital_status      object
policy_type         object
policy              object
renew_offer_type    object
sales_channel       object
vehicle_class       object
vehicle_size        object
dtype: object

In [74]:
categorical_df.to_csv('lab-cleaning-categorical.csv', index=False)